<div
  class="sidebar d-flex flex-column vh-100 bg-light p-3 justify-content-center"
>
  <div class="mb-5 text-center">
    <a routerLink="/home" routerLinkActive="active"
      ><img
        src="airline_seat_recline_normal_RoundedFill.svg"
        alt="Logo"
        class="img-fluid"
        style="height: 100px"
      />
      <img
        src="/Book Your Seat.svg"
        alt="Logo"
        class="img-fluid"
        style="height: 100px"
      />
    </a>
  </div>

  <ul class="nav flex-column mb-auto mt-1">
    <li
      class="nav-item mb-2 align-items-center justify-content-center d-flex flex-column"
    >
      <button
        class="btn text-start fw-light py-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#bookNowMenu"
        aria-expanded="false"
        aria-controls="bookNowMenu"
      >
        Book Now &#9662;
      </button>
      <div class="collapse mt-2" id="bookNowMenu">
        <button
          class="btn btn-sm w-100 mb-1"
          routerLink="/office-seats"
          routerLinkActive="active"
        >
          Office Seats
        </button>
        <button
          class="btn btn-sm w-100"
          routerLink="/conference-rooms"
          routerLinkActive="active"
        >
          Conference Rooms
        </button>
      </div>
    </li>

    <app-button-sidebar
      label="My Bookings"
      link="/my-bookings"
    ></app-button-sidebar>
    <app-button-sidebar
      label="Weather Info"
      link="/weather"
    ></app-button-sidebar>
    <app-button-sidebar
      label="Traffic Info"
      link="/traffic-info"
    ></app-button-sidebar>
  </ul>

  <div class="mt-auto">
    <div class="card text-center d-flex align-items-center">
      <div class="row">
        <div class="col align-items-center justify-content-center d-flex px-0">
          <img
            src="poza_gri.jpg"
            class="card-img-top rounded-circle"
            style="width: 90px; height: 90px"
            alt="User"
          />
        </div>
        <div class="col text-start ps-0" style="width: 200px">
          <div class="card-body">
            <h5 class="card-title">Cosmin Gheorghe</h5>
            <p class="fw-light mb-0 fs-6"><small>cosmin&email.com</small></p>
            <a href="/"
              ><p class="card-text"><small>Vezi profilul</small></p></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
