<p-card styleClass="bg-soft-blue round-xl shadow-soft border-0">
  <div class="text-xl font-semibold mb-3">Plan your route</div>

  <div class="flex flex-column gap-2">
    <!-- My Location -->
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-compass"></i></span>
      <input type="text" pInputText placeholder="My Location">
    </div>
    <!-- Current Hour -->
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
      <input type="text" pInputText placeholder="Current Hour">
    </div>

    <div class="mt-2">
      <button pButton class="p-button-rounded p-button-lg" icon="pi pi-search" label="Search"></button>
    </div>
  </div>
</p-card>
