<mat-tab-group
  class="vertical-scroll-tabs"
  (selectedTabChange)="onTabChange($event.index)"
>
  <mat-tab label="Parter">
    <div class="tab-content">
      <div class="row mt-2 justify-content-center">
        <div class="col-5 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-confirm btn-building btn-lg"
            [ngClass]="{ 'on-click': selectedBuilding === 'T1' }"
            (click)="selectBuilding('T1')"
          >
            Building T1
          </button>
        </div>
        <div class="col-5 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-confirm btn-building btn-lg"
            [ngClass]="{ 'on-click': selectedBuilding === 'T2' }"
            (click)="selectBuilding('T2')"
          >
            Building T2
          </button>
        </div>
      </div>

      <div class="d-grid gap-4 mt-4 justify-content-center">
        <ng-container *ngIf="!fetchedForFloor['Parter']">
          <div class="text-center p-4">Select one building and one floor</div>
        </ng-container>
        <ng-container *ngIf="fetchedForFloor['Parter']">
          <ng-container
            *ngIf="
              roomsByFloor['Parter'] && roomsByFloor['Parter'].length;
              else noParter
            "
          >
            <div
              *ngFor="let room of roomsByFloor['Parter']"
              class="card"
              style="
                max-width: 750px;
                border-radius: 20px;
                background-color: #e0f2fe;
              "
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="poza-lounge.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <p class="card-text">
                      Number of seats: {{ room.seatCount }}
                    </p>
                    <div class="row justify-content-end">
                      <div class="col-9"></div>
                      <div class="col-3">
                        <button
                          type="button"
                          class="btn w-100"
                          [ngClass]="{
                            'on-click':
                              selectedCardFloor === 'Parter' &&
                              selectedCardNumber === room.roomId
                          }"
                          (click)="selectRoom(room)"
                        >
                          Select
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noParter>
            <div class="text-center p-4">
              No rooms found for selected floor and building
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Etaj 1">
    <div class="tab-content">
      <div class="row mt-2 justify-content-center">
        <div class="col-5 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-confirm btn-building btn-lg"
            [ngClass]="{ 'on-click': selectedBuilding === 'T1' }"
            (click)="selectBuilding('T1')"
          >
            Building T1
          </button>
        </div>
        <div class="col-5 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-confirm btn-building btn-lg"
            [ngClass]="{ 'on-click': selectedBuilding === 'T2' }"
            (click)="selectBuilding('T2')"
          >
            Building T2
          </button>
        </div>
      </div>
      <div class="d-grid gap-4 mt-4 justify-content-center">
        <ng-container *ngIf="!fetchedForFloor['Etaj 1']">
          <div class="text-center p-4">Select one building and one floor</div>
        </ng-container>
        <ng-container *ngIf="fetchedForFloor['Etaj 1']">
          <ng-container
            *ngIf="
              roomsByFloor['Etaj 1'] && roomsByFloor['Etaj 1'].length;
              else noEtaj1
            "
          >
            <div
              *ngFor="let room of roomsByFloor['Etaj 1']"
              class="card"
              style="
                max-width: 750px;
                border-radius: 20px;
                background-color: #e0f2fe;
              "
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="poza-lounge.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <p class="card-text">
                      Number of seats: {{ room.seatCount }}
                    </p>
                    <div class="row justify-content-end">
                      <div class="col-9"></div>
                      <div class="col-3">
                        <button
                          type="button"
                          class="btn w-100"
                          [ngClass]="{
                            'on-click':
                              selectedCardFloor === 'Etaj 1' &&
                              selectedCardNumber === room.roomId
                          }"
                          (click)="selectRoom(room)"
                        >
                          Select
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noEtaj1>
            <div class="text-center p-4">
              No rooms found for selected floor and building
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Etaj 2">
    <div class="tab-content">
      <div class="row mt-2 justify-content-center">
        <div class="col-5 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-confirm btn-building btn-lg"
            [ngClass]="{ 'on-click': selectedBuilding === 'T1' }"
            (click)="selectBuilding('T1')"
          >
            Building T1
          </button>
        </div>
        <div class="col-5 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-confirm btn-building btn-lg"
            [ngClass]="{ 'on-click': selectedBuilding === 'T2' }"
            (click)="selectBuilding('T2')"
          >
            Building T2
          </button>
        </div>
      </div>
      <div class="d-grid gap-4 mt-4 justify-content-center">
        <ng-container *ngIf="!fetchedForFloor['Etaj 2']">
          <div class="text-center p-4">Select one building and one floor</div>
        </ng-container>
        <ng-container *ngIf="fetchedForFloor['Etaj 2']">
          <ng-container
            *ngIf="
              roomsByFloor['Etaj 2'] && roomsByFloor['Etaj 2'].length;
              else noEtaj2
            "
          >
            <div
              *ngFor="let room of roomsByFloor['Etaj 2']"
              class="card"
              style="
                max-width: 750px;
                border-radius: 20px;
                background-color: #e0f2fe;
              "
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="poza-lounge.jpg"
                    class="img-fluid rounded-start"
                    alt="..."
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <p class="card-text">
                      Number of seats: {{ room.seatCount }}
                    </p>
                    <div class="row justify-content-end">
                      <div class="col-9"></div>
                      <div class="col-3">
                        <button
                          type="button"
                          class="btn w-100"
                          [ngClass]="{
                            'on-click':
                              selectedCardFloor === 'Etaj 2' &&
                              selectedCardNumber === room.roomId
                          }"
                          (click)="selectRoom(room)"
                        >
                          Select
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noEtaj2>
            <div class="text-center p-4">
              No rooms found for selected floor and building
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div></mat-tab
  ></mat-tab-group
>
