.main {
  background-color: #f3f4f6;
  padding: 2rem;
  height: 100%;
  box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}
.container {
  height: 100vh;
}
.btn-confirm {
  color: #f3f4f6;
  background-color: #4b5563;
  width: 100%;
  border-radius: 20px;
}
.btn-confirm:hover {
  color: #f3f4f6;
  background-color: #1f2937;
  transition: 0.3s all ease;
}
h1 {
  color: #4b5563;
}
.btn-cancel {
  background: linear-gradient(0deg, #1f2937 0%, #4b5563 100%);
  color: #f3f4f6;
  border-radius: 40px;
  width: 25%;
}
.btn-cancel:hover {
  color: #4b5563;
  background: #f3f4f6;
  transition: 0.3s all ease;
}

.card {
  border-radius: 50px;
  background-color: #e0f2fe;
  border-color: none !important;
}
